*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 2.5em;
  line-height: 1.1;
}

li {
  list-style: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.app-container{
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding:30px;
}

.app-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:40px;
  gap:20px;
}

.filters {
  display: flex;
  gap:40px;
}

.filters label {
  display: flex;
  gap:20px;
}

.products-list {
  margin-top:10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  gap:30px;
}

.product {
  border:solid 1px rgb(73, 73, 73);
  border-radius: 4px;
  overflow: hidden;
}

.product img{
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.product-data {
  padding: 0 10px 10px 10px;
}

.product-data h3{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.price-cta{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:5px;
}

.cart-cta {
  padding: 5px 8px;
  border:solid 1px transparent;
}

.cart-cta.remove {
  color:red;
  border:solid 1px red;
}
.cart-cta.remove:hover {
  background-color: #ff090959;
}

.cart-indicator {
  position:absolute;
  bottom:0;
  right: 0;
  background:#f25353;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  border:solid 2px #242424
}

.cart-toggle {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  padding:10px;
  margin:10px;
  z-index: 1;
  border-radius: 50%;
  background-color: rgb(99, 99, 99);
  cursor: pointer;
}

.cart-toggle ~ input:checked ~ .cart-container {
  display: block;
}

.cart-container {
  display: none;
  position:fixed;
  top:0;
  right: 0;
  background-color: #213547;
  max-height: 100vh;
  width: 400px;
  border: solid 1px rgb(73, 73, 73);
}

.cart-header {
  padding: 14px 20px;
  display: flex;
  gap:20px;
}

.cart-header button {
  padding:5px 10px;
}

.cart-products-container {
height: calc(100vh - 132px);
padding:20px;
border-bottom: solid 1px rgb(73, 73, 73);
border-top: solid 1px rgb(73, 73, 73);
}

.cart-products-container p{
text-align: center;
}

.cart-products {
  display: flex;
  flex-direction: column;
  gap:10px;
  max-height: calc(100vh - 100px);
  overflow: scroll;
}

.cart-item {
  display:flex;
  align-items: center;
  gap:5px;
}

.cart-item img{
  height: 60px;
  width: 90px;
  object-fit: cover;
  border-radius: 2px;
}

.cart-item strong{
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.manage-qty {
  margin-left:auto;
  display: flex;
  align-items: center;
  gap:5px;
}
.manage-qty button{
  padding:0;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.sub-total {
  margin-top:auto;
  padding:20px;
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
